asgiref==3.5.2
certifi==2022.12.7
charset-normalizer==2.1.1
Django==4.1.4
django-admin-persian-fonts==0.2
django-cleanup==6.0.0
ghasedakpack==0.1.13
idna==3.4
persiantools==3.0.1
Pillow==9.3.0
python-decouple==3.6
pytz==2022.6
requests==2.28.1
six==1.16.0
sqlparse==0.4.3
tzdata==2022.1
urllib3==1.26.13
